/* @media screen and (min-width: 900px) and (max-width:{
.Search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

@media screen and (min-width: 600px) {
.Search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
}

@media screen and (min-width: 326px) {
.Search {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
} */

@media screen and (min-width: 50px) and (max-width: 333px) {
  .Search {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 334px) and (max-width: 529px) {
  .Search {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 530px) and (max-width: 799px) {
  .Search {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 800px) and (max-width: 2500px) {
  .Search {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 2501px) and (max-width: 6000px) {
  .Search {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
